body {
    background: skyblue;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 3px 3px 5px white;
    font-size: 2em
}
h1 {
    font-size: 2em;
    font-weight: 600;
    font-family: Arial;
}
h2 {
    text-transform: lowercase;
    font-size: 1em;
    font-weight: 400;
    font-family: Arial;
}
p {
    border: 10px double black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    border: 3px solid black;
    margin-bottom: 30px;
    padding: 10px;
}
.image{
    width: 800px;
    height: 600px;
    object-fit: cover;
    border: 3px solid black;
    margin: 30px auto;
    padding: 10px;
    background: url("https://media.istockphoto.com/id/1362506495/photo/racer-boy-on-motorcycle-participates-in-motocross-race.jpg?s=2048x2048&w=is&k=20&c=p7VAlrhqWvdOABRcx_c2l0H_WcQIrBl41BsSiqlteIk=");
    background-size: cover;
    background-position: center;
    
}



















