body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
    text-shadow: 1px 2px 2px white
}

h3{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h4{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
    text-shadow: 1px 2px 2px white;
    text-align: right;
}

h5{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
}

h6{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 2px 2px whitesmoke
}

img{
    width: 200px;
    height: 450px;

}

.box {
    width: 200px;
    height: 100px;
    /*line-height: 200px;*/
    text-align: center;
    font-size: 2em;
    background: greenyellow;
    color: black;
    border-radius: 8px;
    display: inline-block;
    margin-left: 200px;
    transition: 0.3s;
}

/*.container {
    width: 680px;
     margin: auto;
    max-width: 300;
    
/*/


.scale:hover {
    cursor: zoom-in;
    transform: scale(0.8);
    transition: 0.3s;
}

.translate:hover {
    cursor: pointer;
    transform: translate(350px, 0px);
    transition: 1s;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}